.login {
  background-color: #faf6e6; }
  .login #login * {
    font-family: 'work sans', sans-serif;
    font-size: 16px;
    letter-spacing: -.015em; }
  .login #login h1 a {
    background-image: url(../img/e47-logo.png);
    width: 100%;
    background-size: 220px; }
    .login #login h1 a:focus {
      outline: none;
      box-shadow: none; }
  .login #login #user_login,
  .login #login #user_pass {
    border-radius: 0;
    border: none;
    border-bottom: 4px solid #fff;
    padding: 10px 15px !important; }
    .login #login #user_login:focus,
    .login #login #user_pass:focus {
      box-shadow: none;
      border-bottom: 4px solid #f0e4b2; }
  .login #login #loginform {
    padding: 0;
    border: 0;
    background-color: #faf6e6;
    box-shadow: none; }
  .login #login #backtoblog {
    display: none; }
  .login #user_login:focus,
  .login #user_pass:focus {
    box-shadow: 0 0 0 1px #fa4238;
    border-color: #fa4238; }
  .login #wp-submit.button {
    background-color: #fa4238;
    color: #fff;
    line-height: normal !important;
    padding: 10px 20px !important;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    border: none;
    margin: 0;
    transition: all .2s ease;
    font-size: 18px;
    border-radius: 3px; }
    .login #wp-submit.button:hover {
      background: #013c4d; }
  .login #nav {
    padding: 0; }

.repeater-flex .acf-repeater tbody {
  display: flex;
  flex-direction: row; }

.repeater-flex .acf-repeater tr.acf-row:not(.acf-clone) {
  width: 100%; }

.repeater-flex .acf-repeater tr.acf-row:not(.acf-clone) td.acf-fields {
  width: 100% !important; }

.toplevel_page_theme-general-settings img {
  height: 20px;
  padding-top: 7px;
  opacity: 1 !important; }

.wp-block {
  max-width: 1280px; }
