//Variables can go here!
$color-white: #fff;
$color-black: #19191a;
$color-primary: #68cbdf;
$color-neutral: #333333;

$font-stack-primary: "Hagrid Trial", "sans-serif";
$font-stack-secondary: "Roboto Slab", serif
